*{
	box-sizing: border-box;
}

body{
	text-align: center;
	padding-top: 3em;
}

.boton{
	text-align: center;
	display: inline-block;
	text-align: center;
	padding: 0.5em 1em;
	background-color: lightcoral;
	font-size: 1.5rem;
	user-select: none; 
}

.posicion{
	font-size: 1.5rem;
}