*{
	box-sizing: border-box;						/* Pongo esta propiedad para acostumbrarme a esta buena practica */
}

body{
	font-family: sans-serif;
	text-align: center;
}

input{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section{
	display: inline-table;
	margin: 0px 50px;
	margin-bottom: 50px;
	background-color: coral;

}

.monthDay{
	color: lime;
}
.monthPay{
	color: #333;
}
.totalResult{
	color: red;
	background-color: white;
	border-radius: 50px;
}
.totalResultNumber{
	color: blue;
}


.button{
	display: inline-block;
	height: 30px;
	width: 150px;

	background-color: lightcoral;
}



/* .coral{
	background-color: coral;
} */
