.header {
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 35px;
}

.navigation {
    display: flex;
    list-style: none;
    gap: 35px;
}

.navigation a:hover {
    color: lightcoral;
    text-decoration: underline;
}

