

/* Esto esta copiado tal cual en el video original. Hay cosas que no se lo que hacen como el "@media" porque seguramente fueron repasadas  en el tuturial 
   antiguo de CSS */

body{
	background-color: #2a2a2a;
	font-family: sans-serif;
	margin: 0;
	padding-bottom: 100rem;
}

.title{
	color: #fff;
	text-align: center;
}

.text{
	color: #fff;
	text-align: center;
}

@media screen and (min-width: 400px){			/* Esto cambia los valores de los atributos cuando la el tamaño de la pantalla es menor a 400px. En este caso hacemos que el fondo que antes era blanco se torne negro, y las letras que eran negras se vuelvan blancas */
	body{
		background-color: #fff;
	}
	.title{
		color: #2a2a2a;
	}

	.text{
		color: #2a2a2a;
	}
}